USE [master]
GO
/****** Object:  Database [IntalioDB]    Script Date: 9/23/2022 10:19:46 PM ******/
CREATE DATABASE [IntalioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IntalioDB', FILENAME = N'D:\Databases\IntalioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IntalioDB_log', FILENAME = N'D:\Databases\IntalioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IntalioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IntalioDB]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 9/23/2022 10:19:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[E_Id] [int] IDENTITY(1,1) NOT NULL,
	[E_Name] [nvarchar](100) NULL,
	[E_Position] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[E_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
